---
http_interactions:
- request:
    method: get
    uri: https://civicinfo.googleapis.com/civicinfo/v2/representatives?address=94720&key=AIzaSyBJZfQHjhHQZHJyr2rX7jvrSvb1drlhqqI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "normalizedInput": {
            "line1": "",
            "city": "Berkeley",
            "state": "CA",
            "zip": "94720"
          },
          "kind": "civicinfo#representativeInfoResponse",
          "divisions": {
            "ocd-division/country:us/state:ca/cd:13": {
              "name": "California's 13th congressional district",
              "officeIndices": [
                3
              ]
            },
            "ocd-division/country:us": {
              "name": "United States",
              "officeIndices": [
                0,
                1
              ]
            },
            "ocd-division/country:us/state:ca/county:alameda": {
              "name": "Alameda County",
              "officeIndices": [
                13,
                14,
                15,
                16,
                17,
                18
              ]
            },
            "ocd-division/country:us/state:ca/place:berkeley": {
              "name": "Berkeley city"
            },
            "ocd-division/country:us/state:ca": {
              "name": "California",
              "officeIndices": [
                2,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12
              ]
            }
          },
          "offices": [
            {
              "name": "President of the United States",
              "divisionId": "ocd-division/country:us",
              "levels": [
                "country"
              ],
              "roles": [
                "headOfGovernment",
                "headOfState"
              ],
              "officialIndices": [
                0
              ]
            },
            {
              "name": "Vice President of the United States",
              "divisionId": "ocd-division/country:us",
              "levels": [
                "country"
              ],
              "roles": [
                "deputyHeadOfGovernment"
              ],
              "officialIndices": [
                1
              ]
            },
            {
              "name": "U.S. Senator",
              "divisionId": "o[...]
